@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Quizzes;

@model InterestPointCategoryInterestPointViewModel
<h2>Result - Details</h2>
<div class="card">
    <div class="card-header">
        <h2 class="float-left">
            @ViewData["Title"]
        </h2>
    </div>
    <div class="card-body">
        <div class="ml-5 mr-5">
            <dl class="row">
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.InterestPointId)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.InterestPointId)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.CategoryId)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.CategoryId)
                </dd>
            </dl>
        </div>
    </div>
</div>
