@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Quizzes;

@model InterestPointCategoryInterestPointViewModel
<div class="card">
    <div class="card-header">
        <h2 class="float-left">
            @ViewData["Title"]
        </h2>
    </div>
    <div class="card-body">
        <div class="ml-5 mr-5">
            <form asp-action="Edit" class="pl-4">
                <h3>
                    Update the InterestPoint Category - InterestPoint Data
                </h3>
                <div asp-validation-summary="ModelOnly" class="=" text-danger></div>

                <div class="form-group">
                    <label asp-for="InterestPointId" class="control-label"></label>
                    <select asp-for="InterestPointId" class="form-control" asp-items="@ViewBag.InterestPoints"></select>
                    <span asp-validation-for="InterestPointId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryInterestPoints"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                @Html.Hidden("Id", Model.Id)
                <br />
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="form-group col-md-3">
                        <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index","InterestPointsCategoryInterestPoints")';" />
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-3">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}