@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Users

@model CompanyViewModel
<h2>Company - Details</h2>
<br />
<div>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Representative)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Representative)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.VatNumber)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.VatNumber)
        </dd>
    </dl>
</div>