@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Users

@model CompanyViewModel
<h2>Company - Details</h2>

<div class="card">
    <div class="card-header">
        <h2 class="float-left">
            @ViewData["Title"]
        </h2>
    </div>
    <div class="card-body">
        <div class="ml-5 mr-5">
            <h3>Company Details</h3>

            <dl class="row">
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Representative)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Representative)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.VatNumber)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.VatNumber)
                </dd>
            </dl>
        </div>
        <div class="form-group col-md-3">
            <input type="button" value="Go Back"  class="btn btn-secondary" onclick="location.href='@Url.Action("Index","Companies")';" />
        </div>
    </div>
</div>
