@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Users;

@model IEnumerable<CompanyViewModel>

<h2>Company</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Representative)</th>
                <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(model => model.VatNumber)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@company.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@company.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@company.Id">Delete</a>
                </td>
                <td>@Html.DisplayFor(x => company.Name)</td>
                <td>@Html.DisplayFor(x => company.Representative)</td>
                <td>@Html.DisplayFor(x => company.PhoneNumber)</td>
                <td>@Html.DisplayFor(x => company.VatNumber)</td>
            </tr>
       }
        </tbody>

    </table>

</div>