@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Quizzes;

@model IEnumerable<ResultInterestPointViewModel>
<h2>ResultInterestPoint</h2>
<p>
    <a asp-action="Create">Create</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.ResultId)</th>
                <th>@Html.DisplayNameFor(model => model.InterestPointId)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resultInterestPoint in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@resultInterestPoint.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@resultInterestPoint.Id">Delete</a>
                    </td>
                    @{ 
                        var result = (ViewBag.Results as List<ResultViewModel>).FirstOrDefault(x => x.Id == resultInterestPoint.ResultId);
                        var ip = (ViewBag.InterestPoints as List<InterestPointViewModel>).FirstOrDefault(x => x.Id == resultInterestPoint.InterestPointId);
                    }
                    <td>
                        <a asp-controller="Results" asp-action="Details" asp-route-id="@result.Id">@result.Title</a>
                    </td>
                    <td>
                        <a asp-controller="Results" asp-action="Details" asp-route-id="@ip.Id">@ip.Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
