@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Users

@model IEnumerable<CountryViewModel>

<h2>Countries</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>         
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@country.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@country.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@country.Id">Delete</a>
                    </td>
                    <td>@Html.DisplayFor(x => country.Name)</td>               
                </tr>
            }
        </tbody>

    </table>

</div>
