@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Quizzes;

@model IEnumerable<CategoryInterestPointViewModel>
<h2>CategoryInterestPoint</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoryInterestPoint in Model)
            {
<tr>
    <td>
        <a asp-action="Edit" asp-route-id="@categoryInterestPoint.Id">Edit</a>
        <a asp-action="Details" asp-route-id="@categoryInterestPoint.Id">Details</a>
        <a asp-action="Delete" asp-route-id="@categoryInterestPoint.Id">Delete</a>
    </td>
    <td>@Html.DisplayFor(x => categoryInterestPoint.Name)</td>
</tr>            }
        </tbody>

    </table>
</div>
