@using Recodme.RD.BoraNow.PresentationLayer.WebAPI.Models.Quizzes;

@model InterestPointViewModel

<div class="card">
    <div class="card-header">
        <h2 class="float-left">
            @ViewData["Title"] - Details
        </h2>
    </div>
    <div class="card-body table-responsive">
        <h2>Interest Point @Model.Name details</h2>
        <div>
            <dl class="row">
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.PhotoPath)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.PhotoPath)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.OpeningHours)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.OpeningHours)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.ClosingHours)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.ClosingHours)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.ClosingDays)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.ClosingDays)
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.CovidSafe)
                </dt>
                <dd class="col-10">
                    @if (Model.CovidSafe)
                    {
                        <i class="far fa-check-circle" color="green"></i> }
                    else
                    {
                        <i class="far fa-times-circle" color="red"></i>
                    }
                </dd>
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-10">
                    @if (Model.Status)
                    {
                        <i class="far fa-check-circle" color="green"></i> }
                    else
                    {
                        <i class="far fa-times-circle" color="red"></i>
                    }
                </dd>
            </dl>
        </div>
        <div class="form-group col-md-3">
            <input type="button" value="Go Back" onclick="location.href='@Url.Action("Index","InterestPoints")';" />
        </div>
    </div>
</div>
